.home-container {
  padding: 10px;
  text-align: center;
}

.intro-card {
  padding: 24px;
  margin-bottom: 32px;
  background: linear-gradient(to right, #ff9933, #ffffff, #138808); /* Tricolor */
  color: #000;
  font-weight: bold;
}

.tagline {
  font-style: italic;
  margin-top: 8px;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.feature-card {
  width: 300px;
  padding: 16px;
  text-align: center;
}
